article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 /* ===== GENERAL ===== */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Orbitron', sans-serif;    
    letter-spacing: 2px;
    /* Photo by Hanny Naibaho on Unsplash */
    background: linear-gradient(to right, rgba(2,2,2,.8), rgba(2,2,2,.5)),
    url(../assets/dj1.jpg) left;
    background-size: cover;
    min-height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper {
    width: 80%;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
}

.heartBeat {
    color:rgb(102, 0, 0);
    text-shadow: 0 0 3px rgb(202, 3, 3);
}

.controls button,
.tempo,
h1 span,
.soundEffect button,
h2,
footer p,
#notSupportedAlert {
    text-shadow: 
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 8px #CC30FF,
    0 0 15px #CC30FF,
    0 0 20px #CC30FF;
}

header {
    background: linear-gradient(to right, rgba(142, 68, 173,.2), rgba(142, 68, 173,.9));
}

h1 {
    display: block; 
    font-size: 8rem;
    padding: 0;
    margin: 0;
    color: rgb(202, 3, 3);
    text-shadow: 
        0 0px 2px #fff, 
        0 0px 5px #fff,
        0 0 8px rgb(202, 3, 3),
        0 0 15px rgb(202, 3, 3),
        0 0 20px rgb(202, 3, 3);
    transition: text-shadow .1s ease;
}

h1 span { 
    font-size: 4rem;
    font-weight: normal;
    margin-left: 10px;
    color: #fff;
    vertical-align: middle;
}

.controls {
    display: inline-block;
    padding: 20px 0;
    margin-top: 40px;
}

.controls button,
.tempo {
    font-size: 2rem;
    padding: 10px 20px;
    margin-right: 5px;
    background: rgb(20,20,20);
    color: #ecf0f1;
    text-decoration: none;
    border: .5px solid #FB5024;
    border-radius: 5px;
    transition: background .1s ease;
}

.soundEffect{
    margin-left: 80px; 
}

.soundEffect button {
    font-size: 5rem;
    border-radius: 50%;
    color: #fff;
    background: rgb(20,20,20);
    border: .5px solid #FB5024;
    box-shadow: 
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 8px #CC30FF,
        0 0 15px #CC30FF,
        0 0 20px #CC30FF;    
}

.controls button:hover,
.soundEffect button:hover {
    background: #CC30FF;
}
.controls button:active,
.soundEffect button:active {
    background: #fff;
    outline: none;
}
.controls button:focus,
.soundEffect button:focus {
    outline: none;
}
.btnActive {
    box-shadow: 
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 8px #CC30FF,
        0 0 15px #CC30FF,
        0 0 20px #CC30FF;
}


.tempo,
.soundEffect {
    display: inline-block;
}

input[type=range] {
    transform: rotate(180deg);
    -webkit-appearance: none;
    height: 5px;
    background: #2980b9;
}

.drum {
    display: flex;
    padding: 0 10px;
    border-bottom: .5px solid #FB5024;
}

.drum:last-child {
    border-bottom: none;
}

.instruments {
    display: inline-block;
    height: 100%;
    padding: 10px;
    background: linear-gradient(to right, rgba( 20, 20, 20, .9), rgba( 20, 20, 20, .9));
    border: .5px solid #FB5024;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.displayInfo {
    display: flex;
    position: absolute;
    left: 20px;
    top: 0;
}

h2 {
    width: 95px;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

ul {
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

li {
    padding: 3px 0;
}
.drumList input[type='checkbox'] {
    display: none;
}

.drumList label{
    display: block;
    margin: 5px;
    width: 60px;
    height: 50px;
    background: #2980b9;
    border-radius: 3px;
    outline: none;
    z-index: 1;
    transition: background .3s ease;
}

.counter li {
    padding: 0;
    margin: 0;
    width: 70px;
    height: 285px;
    background: rgba(251, 80, 36,.3);
    box-shadow: 
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 8px rgba(251, 80, 36,.3),
    0 0 15px rgba(251, 80, 36,.3),
    0 0 20px rgba(251, 80, 36,.3);

    border: .1px solid rgb(251, 80, 36);
    opacity: 0;
}

.drumList li {
    height: 100%;
    display: flex;
    align-items: center;
}

.beatSelected {
    background: #fff !important;
    box-shadow: 
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 8px #CC30FF,
        0 0 15px #CC30FF,
        0 0 20px #CC30FF;
}

.marker {
    animation: marker .5s ease ;
}

footer {
    background: linear-gradient(to right, rgba(142, 68, 173,.2), rgba(142, 68, 173,.9));
    margin-top: 60px;
}

footer .wrapper {
    color: #fff;
    text-align: center;

}

footer p {
    font-size: 1.6rem;
    padding: 3px;
}

footer a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 10px lime,
        0 0 15px lime,
        0 0 20px lime;
    transition: text-shadow .3s ease;
}

footer a:hover {
    text-shadow: 
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 8px #CC30FF,
    0 0 15px #CC30FF,
    0 0 20px #CC30FF;
}

@keyframes marker{
    0% {
        opacity: 1;
      }
    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {    
        .wrapper {
            width: 95%;
        }    
    }

@media (max-width: 780px) {

    .wrapper {
        width: 100%;
    }
    h1 {
        left: 0;
        display: block;
        margin: 0;
        text-align: center;
        top: 0;
    }
    .controls {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 33%;
        text-align: center;
    }
    .instruments {
        left: 50%;
        top: 210px;
        transform: translateX(-50%);
    }
    .counter li {
        right: 70px;
        width: 50px;
        height: 370px;
    }
    h2 {
        transform: rotate(-40deg) translate(20px, 20px);
    }
    .drumList label { 
        width: 40px;
        height: 70px;
    }
}

#notSupportedAlert {
    color: #fff;
    text-align: center;
    background:  rgba(2,2,2,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.notSupported h3 {
    font-size: 3rem;
}
.notSupported p {
    font-size: 2rem;
}

@media (max-width: 780px) {
    body {
        height: 125vh;
        position: relative;
    }
    #notSupportedAlert {
        display: flex;
    }

    .instruments {
        transform: rotate(90deg) translateX(-50%);
        left: 0;
        top: 555px;
    }
}

@media (max-width: 505px) {
    .instruments {
        left: -40px;
    }
}

@media (max-width: 450px) {
    .instruments {
        left: -90px;
    }
}




